.link {
    fill: none;
    stroke:black;
    stroke-width: 4px;
}

.link.punteado {
    stroke-dasharray: 0,2 1;
}

rect {
    fill: steelblue;
    fill-opacity:0.5;
    stroke:  steelblue;
    pointer-events: visible;
    cursor: pointer;
}
rect:hover {
    stroke: #ff7f0e;
    stroke-width: .5px;
}

.bold {
    stroke-width: 6px;
}
.bold:hover {
    stroke: #ff7f0e;
    stroke-width: 6px;
}

text {
    font:  13px "Helvetica Neue";
    pointer-events: none;
    fill: #ECE9E0;
}

text.odd {
    font:  13px "Helvetica Neue";
    pointer-events: none;
    fill: #f1d868;
}

.textline {
    font:  13px "Helvetica Neue";
    pointer-events: none;
    fill: #f1a620;
}

line{
    stroke:#f1a620;
    stroke-width: 4px;
}

.circle1{
    fill: #1B8557; /*29493B;*/
    stroke: #29493B;
    pointer-events: visible;
    cursor: pointer;
}

.circle2{
    fill: #1F2A25;
    stroke: #1F2A25;
    pointer-events: visible;
    cursor: pointer;
}
.circle3{
    fill: #CF4440;
    stroke: #CF4440;
    pointer-events: visible;
    cursor: pointer;
}

.circle4{
    fill: #500006;
    stroke: #500006;
    pointer-events: visible;
    cursor: pointer;
}
