.link {
    fill: none;
    stroke:black;
    stroke-width: 4px;
}

.link.punteado {
    stroke-dasharray: 0,2 1;
}

rect {
    fill: steelblue;
    stroke:  none;
    pointer-events: visible;
    cursor: pointer;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
    fill: white;
}

line{
    stroke:black;
    stroke-width: 4px;
}

.futureleadership{
    stroke-dasharray:5,5;
    stroke:gray;
    fill:gray;
}

